*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 1em;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.wrap{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container{
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
}

main{
  width: 100%;
}

header{
  display: flex;
  flex-direction: column;
  background-image: url("images/cucumbers.jpg");
  background-position: left;
  background-size: cover;
  margin-bottom: 2px;
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  text-align: left;
}

hgroup{
  text-align: left;
}

.logo-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.div-bucket{
  width: auto;
  height: 80px;
  margin-right: 10px;
  box-shadow: 1px 1px 5px black;
  background-color: rgba(255,255,255, 0.3);
  text-align: center;
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 2px black;
}

.img-bucket{
  margin-top: 5px;
  height: 50px;
}

.logo-ref{
  display: block;
  margin-right: 10px;
}

.logo-image{
  width: 6em;
  height: auto;
}

hgroup{
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: left;
}

hgroup > h1{
  font-size: 3em;
  font-family: 'Fira Sans', sans-serif;
}

hgroup > h3{
  font-size: 1.9em;
  font-family: 'Fira Sans', sans-serif;
  text-align: left;
}

h3{
  text-align: center;
  font-size: 2em;
  font-family: 'Fira Sans', sans-serif;
}

.menu{
  height: 50px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: stretch;
  gap: 3px;
}

.menu > li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.menu > li > a{
  text-decoration: none;
  font-family: Arial;
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px black;
}

.menu > li:hover{
  background-color: rgba(127, 200, 0, 0.5);
}

/* -------------slider------------------------*/

/* -------------slider------------------------*/

.catalog{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0px 10px;
}

.catalog-card{
  display: flex;
  align-items: center;
  text-align: center;
  width: auto;
  border: 1px solid green;
  padding: 10px;
  font-size: 1.5em;
}

.catalog-card:hover{
  background-color: rgba(127, 200, 0, 0.5);
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;

}

.product-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-left: 20px;
  /* border: 1px solid green;*/
  box-shadow: 1px 1px 3px black;
}

.product-img{
  margin-top: 10px;
  width: 90%;
  height: auto;
  margin-bottom: 5px;
}

#category{
  margin: 20px 0;
}

#products{
  margin: 40px 0 20px 0;
}

#sale{
  color: blue;
  margin: 20px 0;
}


.border{
  border: 1px solid black;
}

footer{
  height: 300px;
  background-color: #078600;
}

.footer-list{
  margin: 20px;
  list-style: none;
}

@media (max-width: 675px){
  .products{
    justify-content: space-around;
  }

  .div-bucket{
    margin-right: 5px;
    font-size: 1em;
    height: 70px;
  }

  .img-bucket{
    height: 40px;
  }

  .logo-image{
    width: 3em;
    height: auto;
  }

  hgroup > h1{
    font-size: 2em;
  }

  hgroup > h3{
    font-size: 1.3em;
  }

  .menu > li > a{
    font-size: 1em;
  }
}


@media (max-width: 500px){
  .div-bucket{
    margin-right: 5px;
  }

  .logo-image{
    width: 2em;
    height: auto;
  }

  hgroup > h1{
    font-size: 1.5em;
  }

  hgroup > h3{
    font-size: 1em;
  }

  .menu > li > a{
    font-size: 1em;
  }
}
