{% extends 'base/base.html'%}
{% load filter_tags %}
{% load static %}
{% block content %}
        <section class="roll">
          <img class="img-roll" src="images\1616138084_IMG_4925.jpg" alt="">
        </section>
        <a name="catalog"></a>
        <h3 id="category">Наш ассортимент</h3>
        <section class="catalog">
            {% for item in catalog_list %}
              <div class="catalog-card">
                <p>#{{ item }}</p>
              </div>
            {% endfor %}
        </section>
        <h3 id="products">Продукты</h3>
        <section class="products">
            {% for product in products %}
                <div class="product-card">
                    <img src="{% static 'images\51182e-300x300.jpg' %}" alt="кабачок" class="product-img">
                    <p class="product-name">Кабачок</p>
                    <p class="product-price">100р.</p>
                </div>
            {% endfor %}
        </section>
        <section class="email-distribution">
          <h3>Подпишитесь на рассылку</h3>
          <h3 id="sale">Скидки и акции только для подписчиков</h3>
          <form action="">
            <input type="email" name="email">
            <input type="button" name="subscribe" value="Подписаться">
          </form>
        </section>
{% endblock content %}
